<div class="modal fade" tabindex="-1" role="dialog" id="imageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @image, html: {class: "form-inline"} do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Save GIF</h4>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :giphy_id %>
          <div class="form-group">
            <%= f.label :tag_list, "Tags" %>
            <%= f.text_field :tag_list, placeholder: "my tag, another tag", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save", class: "btn btn-primary", data: {disable_with: "Saving..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
